@import "tailwindcss";

@theme {
  --font-sans: var(--font-montserrat);
  --font-display: var(--font-michroma);

  /* Loba Fashion Power Red Palette */
  --color-brand-50: #ffe8e8;
  --color-brand-100: #ffd1d1;
  --color-brand-200: #ffbaba;
  --color-brand-300: #ff8c8c;
  --color-brand-400: #ff5e5e;
  --color-brand-500: #ff2424;
  /* Primary Red */
  --color-brand-600: #e62020;
  --color-brand-700: #bf1b1b;
  --color-brand-800: #991616;
  --color-brand-900: #731010;
  --color-brand-950: #4a0a0a;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@keyframes shimmer-spin {
  0% {
    transform: translateZ(0) rotate(0);
  }

  100% {
    transform: translateZ(0) rotate(360deg);
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}

:root {
  /* Blanco Hueso ligero tirando a rosadito muy claro */
  --background: #fffafa;
  /* Negro Carbono para texto principal */
  --foreground: #1a1a1a;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}

/* Opcional: Estilizar títulos con la fuente display */
h1,
h2,
h3,
h4,
.font-serif {
  font-family: var(--font-display), sans-serif;
}